@model IEnumerable<AulaModel>

<h2>Aulas</h2>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Materia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turma)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Materia)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Turma)
                </td>
            </tr>
        }
    </tbody>
</table>

