@model AulaModel

<h1>Aulas</h1>

<div>
    <dt>
        @Html.DisplayNameFor(Model => Model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(Model => Model.Turma)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.Turma)
    </dd>
</div>

